<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Admin</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>

        <div class = "container">

            <a href="/users">
                <button>
                    Popis Korisnika
                </button>
            </a>

            <a href="/companies">
                <button>
                    Popis Tvrtki
                </button>
            </a>

        </div>
        


    </body>
</html>