<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Admin</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>

        <div class = "container">

            <h1>Popis Tvrtki:
            </h1>
            TODO: iz baze podataka uzeti tvrtke.

        </div>
        
    </body>
</html>