/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
} */

/* .intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
} */
