doctype html
html(lang='hr')
  head
    title Admin
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='../styles/admin/admin.css')
    
  body
    .container
      a(href='/admin/list_users')
        button#btn
          | Popis Vozača
      a(href='/admin/list_companies')
        button#btn
          | Popis Tvrtki
      form#formAdminLogout(name='formAdminLogout' action='/logout' method='get')
        input#btn(type= "submit" value="Logout")
