doctype html

head
    title DODANO VOZILO
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    base(href='/')

    link(rel='stylesheet', type='text/css', href='./styles/admin/admin.css')

body
    h1(style='text-align: center') DODANO VOZILO
    br
    hr
    br
    p(style='text-align: center')= "USPJESNO STE DODALI VOZILO"
    br
    hr
    br
    form#natragForm(name='natragForm' action='/user/natrag' method='get')
        input(value="NATRAG" type='submit') 